---
layout: pages
title: Publications
group: publications
heading: 
bgimage: /images/microxtal_banner_tall.jpg
---
{::nomarkdown}
{% for publication in site.data.publications %}
    <div class="content">
        <header class="align-left">
            <h3>{{ publication.title | markdownify }}</h3>
            <h4>{{ publication.citation | markdownify }}</h4>
        </header>
        <div class="row">
            <div class="6u 12u$(small)">
                <span class="image fit imgfit"><img src="{{publication.image}}" alt="Publication Image"></span>
            </div>
            <div class="6u$ 12u$(small)">
                <ul>
                    <li><strong>PMID</strong>: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt="pubmed link: {{publication.pmid}}">{{publication.pmid}}</a></li>
                    {% if publication.doi %}
                    <li><strong>DOI</strong>: <a href="https://doi.org/{{publication.doi}}" alt="DOI link: {{publication.doi}}">{{publication.doi}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    <hr>
{% endfor %}
{:/}
